*{
    margin:0px;
    padding: 0px;
}
   header { /*margin-left:10PX;  */
     /* float: right;  */
    background-color:darkslategray;
    height: 80px;
    text-align: center;
    padding: 10px;
    
    
}
header h2{
    color: white;
}
header h4{
    color: white;
}
nav{float: right;
    /* margin-top: 20px; */
    margin-right: 20px;
    /* margin-bottom: 20px; */
}
nav a{text-decoration:none ;
    color:white;
    border:1px solid white ;
    margin-right:5px;
    /* scroll-margin-top:5px; */
     margin-top: 10px; 
    margin-bottom: 20px;
    padding: 10px;}
    nav a:hover{
        color:black;
        background-color: teal;
    }
.contents{
    
    height: 800px;
}
/* .divs{
    border: 3px solid white;
    
    width: 22%;
    float: left;
    margin-right: 10px;
    margin-bottom:20px ;
    height: 100%;
    padding: 5px;
}  */

#div1{
    border: 1px solid gray;
    width: 22%;
    background-color: darkcyan;
    float:left;
    height: 100%;
    margin-top:auto;
}
img{
    height: 20px;
    width: 20px;
    float: left;
    
}
.page{float:right;
margin-right: 20px;}

#div1 h5{ 
    padding-left: 50px;
}
#div1 h3{border: 1px solid white;}
#div2{
    float: left;
    border: 1px solid black;
    width: 73%;
    background-color: cadetblue;
    height: 100%;
    margin-left: 0%;
    margin-top:auto;
}
#div2 h2{
    
     /* border: 1px solid black;  */
    background-color: darkcyan;
    margin-top: 50px;
    color: white;
    padding-left: 20px;
    float: left;
}
.div21{
    float: left;
    /* border: 1px solid; */
    margin-top: 20px;
    margin-left: 30px;
}
.div21 h3{ border: 1px solid black;
margin-top: 50px;}
.div22 p{margin-top: 55px;}
.div22{
    float: left;
    margin-top: 20px;
    margin-left: 70px;
}
.bottomA{text-decoration:none ;
    color:white;
    border:1px solid white ;
    float: right;
    margin-left: 300px;
    padding-right: 20px;
    background-color: darkslategray;
    margin-bottom: 10px;
    padding: 5px;
 
}
  .bottomA:hover{
    color:black;
    background-color: teal;
}
.bottomB{
    text-decoration:none ;
    color:white;
    border:1px solid white ;
    float: left;
    margin-left: 10px;
    margin-right: 200px;
    background-color: darkslategray;
    margin-bottom: 10px;
    padding: 5px;
}
    .bottomB:hover{
    color:black;
    background-color: teal;
     }
#bottomPre{
    text-decoration:none ;
    color:white;
    border:1px solid white ;
    background-color: darkslategray;
    
    padding: 5px;}
    #bottomPre:hover{
        color:black;
        background-color: teal;
     }
.divs33{
    width: 100px;
    float: left;
    margin-top: 20px;
    margin-right: 40px;
}
    
.div33 h3{border: 2px solid black;
    margin-bottom: 10px;
    text-align: center;
  padding: 5px;
}
#lastpara{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-decoration: double; */
    padding-right: 20px;
}

footer{
    background-color: darkslategrey;
    text-align: center;
}